<div class="row">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input #title="ngModel" ngModel name="title" id="title" type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                    Title is required
                </div>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
               <div class="input-group">
                <span class="input-group-text">$</span>
                    <input #price="ngModel" ngModel name="price" id="price" type="number" class="form-control" required [min]="0">
                </div>
                <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                    <div *ngIf="price.errors?.required">Price is required</div>
                    <div *ngIf="price.errors?.min">price is 0 or higher</div>
                    
                </div>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select id="category" class="form-control">
                <option value=""></option>
                
            </select>
            </div>
            <div class="form-group">
                <label for="imageURl">IMAGEURL</label>
                <input #imageURl="ngModel" ngModel name="imageURl" id="imageURl" type="text" class="form-control" required url>
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                   
                    <div *ngIf="imageURl.errors?.required">IMAGEURL is required</div>
                    <div *ngIf="imageURl.errors?.url">please enter valid url</div>
                    
                </div>
            </div>
        <button class="btn btn-primary">Save</button>
        </form>
    </div>
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img [src]="imageURl.value" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ title.value }}</h5>
              <p class="card-text">{{ price.value | currency:'USD':true }}</p>
            </div>
          </div>
    </div>
</div>
